/** @format */

@media screen and (max-width: 1300px) {
    .more {
        padding: 0.8rem 11rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
        font-family: "Roboto", sans-serif;
        background: rgba(200, 200, 200, 0.3);
    }
    header {
        min-height: 10vh;
        flex-direction: row;
        justify-content: space-between;
        /* margin: 0 auto; */
        width: 90%;
    }
    header a img {
        padding-top: 7px;
        width: 110px;
        height: 70px;
    }
    #logo {
        text-decoration: none;
        color: #000;
    }
    .search-form {
        padding: 0;
        display: flex;
    }
    .search-form input {
        font-size: 1rem;
        padding: 0;
        border: none;
        border-radius: 10px;
        border: 2px solid rgba(60, 0, 255, 0.3);
        width: 150px;
        text-align: center;
    }
    .search-form a {
        border: none;
        padding: 0.5rem;
        font-size: 1rem;
        color: rgb(74, 68, 131);
    }
    main {
        max-width: 90%;
        width: 90%;
    }
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
    .nav-button {
        min-height: 20vh;
    }
    .more {
        padding: 0.8rem 7rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .more {
        padding: 0.8rem 4rem;
        font-size: 0.9rem;
    }
}